.dashboard {
  display: flex;
  flex-direction: column;
  gap: 28px;

  padding: 10px 4px;
}

/* TITULO PRINCIPAL */
.dashboard h1 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.5px;

  color: #c8d7e7;

  margin: 0;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 18px;
}

/* CARD BASE (MEJORADA) */
.card {
  position: relative;
  overflow: hidden;

  background: linear-gradient(
    180deg,
    #391f31 0%,
    #1b2337 100%
  );

  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 16px;

  padding: 18px 18px 16px 18px;

  transition: all 0.25s ease;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.25);
}

/* EFECTO SUAVE DE LUZ */
.card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;

  width: 200%;
  height: 200%;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.04),
    transparent 60%
  );

  transform: rotate(25deg);
  pointer-events: none;
}

/* HOVER PRO */
.card:hover {
  transform: translateY(-4px);
  border-color: rgba(255, 255, 255, 0.12);

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.35);
}

/* TITULO CARD */
.card h3 {
  font-size: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  margin: 0;

  color: rgba(255, 255, 255, 0.85);
}

/* NUMERO */
.card p {
  font-size: 44px;
  font-weight: 700;

  margin: 10px 0 0 0;

  color: #f8fafc;
}



/* ACCENT SUAVE */
.card.orange::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: -40px;

  width: 120px;
  height: 120px;

  background: rgba(110, 85, 68, 0.694);
  border-radius: 50%;

  filter: blur(20px);
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .dashboard h1 {
    font-size: 22px;
  }
}

.chart-card {
  margin-top: 20px;

  background: #101728;
  border: 1px solid #8694a7;

  border-radius: 14px;

  padding: 20px;
}

.chart-card h3 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1.5px;
}