@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Outfit:wght@600;700&display=swap');

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 18px;
  background: #0b1220; /* 👈 fondo general más limpio */
}

/* TITULO */
.dashboard h1 {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 700;

  color: #ffffff;
  margin: 0;

  letter-spacing: 0.4px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

/* CARD BASE */
.card {
  position: relative;
  overflow: hidden;

  background: linear-gradient(145deg, #111a2e, #0e1628);

  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 14px;

  padding: 18px;

  transition: all 0.2s ease;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
}

/* HOVER MÁS SUAVE */
.card:hover {
  transform: translateY(-7px);
  box-shadow: 0 6px 14px rgb(218, 112, 19);
}

/* TITULO CARD */
.card h3 {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 600;

  text-transform: uppercase;
  letter-spacing: 1px;

  margin: 0;
  color: rgba(255, 255, 255, 0.65);
}

/* NUMERO */
.card p {
  font-family: 'Outfit', sans-serif;

  font-size: 38px;
  font-weight: 700;

  margin: 10px 0 0 0;

  color: #ffffff;
}

/* CARD COLORES SUAVES */
.card.orange {
  border-left: 3px solid #f4b07a;
}



/* RESPONSIVE */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .dashboard h1 {
    font-size: 22px;
  }
}

/* GRAFICA */
.chart-card {
  margin-top: 10px;

  background: #2e333f;

  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 14px;

  padding: 18px;
}

.chart-card h3 {
  font-family: 'Inter', sans-serif;

  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 10px;

  font-size: 14px;
  letter-spacing: 1px;
}